/* Page index */

progress {
  width: 100%;
  -webkit-appearance: none;
  position: fixed;
  z-index:50;
  height: 3px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}



.pageAccueil{
  color: black;
  font-size: 1.3em;
}

.pageAccueil:hover{
  color: #D3A87C;
  text-decoration: none;
  transition-duration: 0.5s;
}

.paddingButton {
  padding-right: 10px;
}

.middleButton {
  color: black;
  font-size: 1em;
}

.middleButton:hover{
  color: #D3A87C;
  text-decoration: none;
  transition-duration: 0.5s;
}

.carousel-item{
  max-width: 100%;
}

.image{
  height: 645px;
	max-width: auto;
}

#titre {
  margin-bottom: 15%;
  color: #FFFFFF
}

.carousel-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  z-index: 0;
  background-color: rgba(0,0,0,.35);
  margin: 0;
  padding: 0
}

.name {
  font-size: 4em
}

.sentence {
  font-size: 2em
}

.name, .sentence, .soustitre {
    font-family: 'Poppins', sans-serif;
}

#carouselExampleControls #titre .btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 20px;
  border-color: white;
}
#carouselExampleControls #titre .size {
  font-size: 2em;
}

.color-icon-linkedin{
  color:white;
}

.color-icon-linkedin:hover{
  transition: 0.9s;
  transform: rotateY(360deg);
}

.color-icon-git{
  color: white
}

.color-icon-git:hover {
  color: white;
  transition: 0.9s;
  transform: rotateY(360deg);
}

.mainsoustitre {
  margin-top: 5%;
  margin-bottom: 5%
}

.soustitre {
  text-align: center;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.texte{
  padding-right: 10%;
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

#animationTexte {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    padding-left: 25%;
  }

  to {
    padding-left: 1%;
  }
}

.profile {
  width: 225px;
  transform: rotate(90deg);
  border: 2px solid black;
  margin-bottom: 20%;
  margin-left: 10%;
}

.description {
  margin-left: 5%
}

/* Page pagecv */

.champ {
  margin: 1%;
  color: #4D664A;
}

.mainsoustitre2 {
  margin-top: 3%;
  padding-bottom: 5%;
}

.soustitre {
  text-align: center;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 0 auto;
 }

 .bloc1Competence{
   text-align: center;
 }

 .textBloc1Langage{
   padding-left: 2%;
 }

 .titreLangage {
   font-size: 1.1em;
   text-align: center;
   color: #00008B;
 }

 .textLangageModel{
   width: 57%;
   margin: 0 auto;
 }

.textBdd {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.blocExperience, .blocFormation {
  margin-left: 1%;
}

.experience {
  border-right : 1px solid black;
}

.titre2 {
  margin-bottom: 0;
  color : #00008B;
}

.titre3 {
  color: #4D664A;
}

.style {
 text-decoration: underline;
 color: grey;
}

.mission {
  margin-right: 5%;
}
/* fin Page pagecv */

/* Page formulaire */

.positionTitre{
  margin-top: 3%;
}

.blocForm {
  font-size: 20px;
  background-color: #0B5963;
  padding: 40px;
  border-radius: 10px solid black;
  margin-top: 5%;

}

.row2 {
  margin-bottom: 3%;
}

.blocMessage {
  justify-content: center;
}

.message{
  font-size: 16px;
  color: #0069d6;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 3%;
}

/* fin Page formulaire */
@media all and (max-width: 320px){
  .image{
    height: 187px;;
  	max-width: auto;
  }
}

@media all and (max-width: 480px ){
  .image{
    height: 187px;;
  	max-width: auto;
  }
}

@media all and (max-width: 720px ){
  .profile {
    display: block;
    margin: auto;
  }
  .image{
    height: 187px;;
  	max-width: auto;
  }
}
