{% extends 'base.html.twig' %}
{% trans_default_domain 'cv' %}

{% block time %}
<div style="width: 10%"></div>
{% endblock time %}

{% block body %}

<div class="soustitre positionTitre">
  <h2>Contactez-moi<h2>
</div>

<div class="container">
  <div class="blocForm">

    <form >
      <div class="form-row">
        <div class="col-md-4 mb-4">
          <label for="validationDefault01"></label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="Nom" required>
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <label for="validationDefault02"></label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Prénom"  required>
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <label for="validationDefault03"></label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="Entreprise"  required>
          <div class="invalid-feedback">
          </div>
        </div>

      </div>
      <div class="form-row row2">
        <div class="col-md-6 mb-3">
          <label for="validationDefault04"></label>
          <input type="email" class="form-control" id="validationDefault04" placeholder="nom@exemple.com" required>
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <label for="validationDefault05"></label>
          <input type="number" class="form-control" id="validationDefault05" placeholder="Téléphone" required>
          <div class="invalid-feedback">
          </div>
        </div>
      </div>

      <div class="row blocMessage">
        <textarea class="message" name="message" id="textArea" rows="4" cols="87" placeholder="Votre message"></textarea>
      </div>

      <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>

  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
